[Unit]
Description=FastAPI Service
After=network.target

[Service]
ExecStart=/usr/bin/docker start -a fastapi
ExecStop=/usr/bin/docker stop -t 2 fastapi
Restart=always
User=root

[Install]
WantedBy=multi-user.target
