[Unit]
Description=GNSS MQTT Subscriber
After=network.target

[Service]
User=your_username
WorkingDirectory=/path/to/gnss_data_simulator
ExecStart=/usr/bin/python3 /path/to/gnss_data_simulator/mqtt_clients/subscriber.py
Restart=always

[Install]
WantedBy=multi-user.target

