[Unit]
Description=Publisher Service
After=network.target

[Service]
ExecStart=/usr/bin/docker start -a publisher
ExecStop=/usr/bin/docker stop -t 2 publisher
Restart=always
User=root

[Install]
WantedBy=multi-user.target
