[Unit]
Description=Subscriber Service
After=network.target

[Service]
ExecStart=/usr/bin/docker start -a subscriber
ExecStop=/usr/bin/docker stop -t 2 subscriber
Restart=always
User=root

[Install]
WantedBy=multi-user.target
